<h1 class="ui huge header">Compétences</h1>
<div class="ui form">
  <div class="field">
    <label>Rechercher des compétences</label>
    <input id="competences-lookup" type="text" placeholder="Java, TDD, ..." />
  </div>
</div>
<div id="categories" class="ui cards">
  <% competences.forEach( (competence) => {%>
  <div class="category card" category="<%=competence.name%>">
    <div class="content">
      <div class="header"><%=competence.name%></div>
      <div class="description">
        <% competence.tags.forEach( (tag) =>{%>
        <div class="ui modal" id="modal-competence-<%= tag.name.replace(/[ #+]/g, '-') %>">
          <div class="header"><%=tag.name%></div>
          <div class="content">
            <p><%=tag.description%></p>
            <a href="<%=tag.url%>">En savoir plus</a>
            <% if (tag.related.length !== 0) { %>
            <h2 class="ui header">Lié à</h2>
            <% } %> <% tag.related.forEach( (t) =>{%>
            <span
              class="competence"
              onclick="$('#modal-competence-<%= tag.name.replace(/[ #+]/g, '-') %>').modal('hide')"
              ><%=t%></span
            ><% }) %>
          </div>
        </div>
        <span class="competence" competence="<%=tag.name.toLowerCase()%>" <% if( tag.alias ) {%>
          alias="<%=tag.alias.map((t)=>t.toLowerCase()).join(",")%>" <% } %>
          relatedTo="<%=tag.related.map((t)=>t.toLowerCase()).join(",")%>"
          onclick="$('#modal-competence-<%= tag.name.replace(/[ #+]/g, '-') %>').modal('show');"
          ><%=tag.name%></span
        >
        <% }) %>
      </div>
    </div>
  </div>
  <% }) %>
</div>
